
body{
	font-family: helvetica neue, applegothic, blogFont, arial;

}
.header{

	position: fixed;
	z-index: 9999 !important;
	top: 0;
	left: 0;
	width: 100%;
	height: 80px;
	/*background-image: url(cloud.jpg);
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;*/

}

/*#header_background{

		
		position: fixed;
		z-index: -100 !important;
		right: 0;
		bottom: 0;
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		background-size: cover;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		filter: blur(10px);
		-webkit-filter: blur(10px);
  		-moz-filter: blur(10px);
  		-o-filter: blur(10px);
  		-ms-filter: blur(10px);


}*/

body div div{

	position: fixed;
	top: 30px;
	right: 100px;


}

nav ul{
	position: fixed;
	right: 40px;
	list-style: none;
	transition: all 1s ease;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-o-transition: all 1s ease;
	
}

#write_button{

	position: fixed;
	top: 15px;
	left: 40px;
	min-width: 40px;
	min-height: 40px;
	width: auto;
	height: auto;
	background-image: url("write.jpeg");
	background-color: white;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	border: 2px solid #33ccff;
	border-radius: 22px;
	-moz-border-radius: 22px;
	-webkit-border-radius: 22px;
	-o-border-radius: 22px;
}

#rss_button{

	position: fixed;
	top: 15px;
	left: 100px;
	min-width: 40px;
	min-height: 40px;
	width: auto;
	height: auto;
	background-image: url("rss-2.png");
	background-color: white;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	border: 2px solid #33ccff;
	border-radius: 22px;
	-moz-border-radius: 22px;
	-webkit-border-radius: 22px;
	-o-border-radius: 22px;
}

#icon{

	position: fixed;
	right: 40px;
	min-width: 40px;
	min-height: 40px;
	width: auto;
	height: auto;
	background-image: url("user.png");
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	border: 2px solid #33ccff;
	border-radius: 22px;
	-moz-border-radius: 22px;
	-webkit-border-radius: 22px;
	-o-border-radius: 22px;
	
}

#icon:hover{

	position: fixed;
	right: 35px;
	top: 10px;
	min-width: 50px;
	min-height: 50px;
	border-radius: 27px;
	-moz-border-radius: 27px;
	-webkit-border-radius: 27px;
	-o-border-radius: 27px;

}


nav ul ul{
	
	z-index: 1000;
	padding: 10px;
	font-size: 22pt;
	opacity: 0;
	font-weight: 100;
	color: #33ccff;
	text-align: center;
	position: fixed;
	background-color: white;
	margin-top: 60px;
	right: 40px;
	visibility: hidden;
	width: 100px;
	height: 0px;
	border: 2px solid #33ccff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;

}



nav ul ul li a{
	
	color: #33ccff;
	text-decoration: none;
}

nav ul ul li:hover a{

	background-color: #D0D0D0; 

}

nav ul li:hover > ul{
	
	z-index: 1000 !important;
	opacity: 1;
	height: 70px;
	visibility: visible;
	

}

.post{
	position: fixed;
	left: 0;
	top:80px;
	width: 100%;
	height: 90%;
	z-index: 100;
	/*background-image: url(blue.jpg);
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;*/
	overflow: hidden;
	overflow-y: scroll; 

}


	

#post-list li{
	z-index: 100;
	list-style: none;
	padding: 50px;
	position: relative;
	background-color: white;
	color: black;
	margin: 0 auto;
	margin-top: 3%;
	width: 60%;
	height: 120px;
	
}

#first-post{

	margin-top: 6% !important;
}
/*#post-list div li{

	padding: 60px;
	position: relative;
	background-color: black;
	color: white;
	margin: 0 auto;
	margin-top: 5%;
	width: 60%;
	height: 80px;


}*/

#header_background{
	position: fixed;
	z-index: -100;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;

}

