body{

		font-family: helvetica neue, applegothic, arial;
		font-weight:  100;		
		font-size: 32pt;
		color: white;
		text-align: center;
		background-color: #33ccff;


}	


#username{
	position: relative;
	margin-top: 0px;
	font-size: 12pt;
	
}

#blog_title{
	font-family: helvetica neue, applegothic, arial;
	font-size: 22pt;
	font-weight: 100;
	width: 60%;
	height: 35px;
	margin-bottom: 20px;
	color: white;
	border: none;
	/*border: 1px solid white;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;*/
	background-color: transparent;


}
#blog_post{
	font-family: helvetica neue, applegothic, arial;
	font-size: 22pt;
	font-weight: 100;
	width: 60%;
	height: 350px;
	color: white;
	border: none;
	/*border: 1px solid white;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;*/
	background-color: transparent;
	
}
#submit{

	font-size: 22pt;
	font-family: helvetica neue, applegothic, arial;
	font-weight: 100;
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-apprearance: none;
	background-color: transparent;
	height: 60px;
	width: 200px;
	color: white;
	border: none;
	/*border: 1px solid white;
	border-radius: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	-o-border-radius: 20px;*/

}

#blog_title:hover{
	border-bottom: 1px solid white;
	
}
#blog_post:hover{
	border: 1px solid white;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	
}
#submit:hover{
	/*border: 2px solid #66ff66;*/
	color: #66ff66;
}

#blog_title:focus{
	outline-width: 0;
	border-bottom: 1px solid white;
	
}
#blog_post:focus{
	outline-width: 0;
	border: 1px solid white;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	
}


